
body {
background-color:lightblue;
font-size:24pt;
}

table{
	
	font-size:24pt;
	text-align:center;
	
}

a:link {
color: blue;
}
a:visited {
color: purple;
}
a:hover {
color: blue;
}







